version: '3.8'
services: 
    admin: 
        build: 
            context: . 
            dockerfile: Dockerfile
        ports: 
            - 8000:8000
        depends_on: 
            - admin_db
            
    admin_db: 
        image: mysql:8.0
        environment: 
            MYSQL_DATABASE: admin
            MYSQL_ROOT_PASSWORD: hwhwhwlol
            MYSQL_PASSWORD: hwhwhwlol
        volumes: 
            - ./storage/dbdata:/var/lib/mysql
        ports: 
            - 33063:3306